@charset "UTF-8";
html {
  font-size: 15px; }

body {
  font-family: "Roboto", sans-serif;
  color: #212121; }

.bajar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 3.5rem;
  animation: animacionBajar 1.7s ease-in-out infinite; }

.bienvenidos {
  background: url("../images/fondoEncabezado.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.encabezado {
  background: #212121;
  color: #fff;
  padding: 0.5rem 0; }
  .encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }
    .encabezado .container .logo img {
      width: 160px;
      height: auto;
      flex-grow: 1; }
    .encabezado .container .btn-menu {
      border: 0;
      font-size: 2rem;
      margin: 0;
      padding: 0 0.5rem;
      background: transparent;
      color: #fff;
      margin-left: 5rem; }
      .encabezado .container .btn-menu:focus {
        outline: 0; }
    .encabezado .container #menu-principal {
      flex: 1 1 100%; }
      .encabezado .container #menu-principal ul {
        padding: 0;
        list-style: none;
        margin: 0.5rem 0 0 0; }
        .encabezado .container #menu-principal ul li a {
          display: block;
          padding: 0.8rem 0;
          text-align: center;
          text-decoration: none;
          color: #fff;
          border-top: 1px solid #fff; }
          .encabezado .container #menu-principal ul li a:hover {
            color: #F44336;
            background: #232323; }
        .encabezado .container #menu-principal ul .active a {
          color: #F44336; }

@keyframes animacionBajar {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(6px); }
  to {
    transform: translateY(0); } }
.texto-encabezado {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .texto-encabezado .display-4 {
    margin-top: 4rem; }
  .texto-encabezado .btn-primary {
    background-color: #f45c50;
    border-color: transparent;
    margin-top: 1rem;
    transition: all 0.5s ease; }
    .texto-encabezado .btn-primary:focus {
      color: #fff;
      background-color: #F44336;
      border-color: transparent; }
    .texto-encabezado .btn-primary:hover {
      color: #fff;
      background-color: #F44336;
      border-color: transparent; }

/*------------------- */
/*Section RESTAURANTE */
/*------------------- */
.restaurante {
  background: #F44336;
  color: #fff;
  padding: 1.5rem 0; }
  .restaurante p {
    margin-top: 1.5rem; }
  .restaurante img {
    width: 85%;
    margin-top: 1.5rem; }

/*------------------- */
/*Section PORQUE */
/*------------------- */
.porque {
  padding: 1.5rem 0; }
  .porque h2 span {
    color: #F44336; }
  .porque h4 {
    color: #757575; }
  .porque p {
    color: #757575; }
  .porque ul {
    list-style: none; }
    .porque ul li {
      min-height: 10rem; }
      .porque ul li .fa {
        color: #fff;
        background: #BC4F3B;
        font-size: 2.5rem;
        border-radius: 50%;
        width: 4.7rem;
        height: 4.7rem;
        line-height: 4.7rem; }
      .porque ul li h4 {
        font-size: 1rem;
        margin-top: 0.8rem; }

/*------------------- */
/*Section SABER */
/*------------------- */
.saber {
  background: url("../images/fondosaber.jpg") no-repeat center center;
  background-size: cover;
  padding: 1.5rem 0;
  color: #fff; }
  .saber article {
    display: flex;
    align-items: center;
    margin: 1rem 0; }
    .saber article img {
      flex: 0 0 60px;
      overflow: hidden;
      margin-right: 1rem; }
    .saber article h3 {
      flex: 1 1 0px;
      margin: 0;
      font-size: 1.25rem;
      font-weight: normal; }
      .saber article h3 a {
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: space-between; }
        .saber article h3 a::after {
          content: "";
          font-family: FontAwesome;
          font-size: 1.7rem;
          align-items: center;
          margin-left: 1rem;
          position: relative;
          left: 0; }
        .saber article h3 a:hover {
          text-decoration: none; }
          .saber article h3 a:hover::after {
            color: #F44336;
            left: -0.5rem;
            transition: all 0.5s ease; }
