$colorNegro: #212121
$colorGris:#757575
$colorBlanco:#fff
$colorPrimario:#F44336
$colorSecundario:#BC4F3B
$colorTerciario:#009688

html
    font-size: 15px

body
    font-family: 'Roboto', sans-serif
    color: $colorNegro
.bajar
    a
        display: inline-block
        color: $colorBlanco
        text-decoration: none
        font-size: 3.5rem
        animation: animacionBajar 1.7s ease-in-out infinite
.bienvenidos
    background: url("../images/fondoEncabezado.jpg") no-repeat center top
    color: $colorBlanco
    background-size: cover
    height: 100vh
    display: flex
    flex-direction: column
.encabezado
    background: $colorNegro
    color: $colorBlanco
    padding: .5rem 0
    .container
        display: flex
        align-items: center
        flex-wrap: wrap
        justify-content: space-between
        .logo
            img
                width: 160px
                height: auto
                //margin-right: 5rem
                flex-grow: 1
        .btn-menu
            border: 0
            font-size: 2rem
            margin: 0
            padding: 0 0.5rem
            background: transparent
            color: $colorBlanco
            margin-left: 5rem
            &:focus
                outline: 0

        #menu-principal
            flex: 1 1 100%
            ul
                padding: 0
                list-style: none
                margin: 0.5rem 0 0 0
                li
                    a
                        display: block
                        padding: 0.8rem 0
                        text-align: center
                        text-decoration: none
                        color: $colorBlanco
                        border-top: 1px solid $colorBlanco
                        &:hover
                            color: $colorPrimario
                            background: #232323
                    .active

                        color: $colorPrimario

@keyframes animacionBajar
    from
        transform: translateY(0)
    50%
        transform: translateY(6px)
    to
        transform: translateY(0)

.texto-encabezado
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .display-4
        margin-top: 4rem
    .btn-primary
        background-color: #f45c50
        border-color: transparent
        margin-top: 1rem
        transition: all .5s ease
        &:focus
            color: $colorBlanco
            background-color: $colorPrimario
            border-color: transparent
        &:hover
            color: $colorBlanco
            background-color: $colorPrimario
            border-color: transparent


/*-------------------*/
/*Section RESTAURANTE*/
/*-------------------*/
.restaurante
    background: $colorPrimario
    color: $colorBlanco
    padding: 1.5rem 0
    p
        margin-top: 1.5rem
    img
        width: 85%
        margin-top: 1.5rem

/*-------------------*/
/*Section PORQUE*/
/*-------------------*/
.porque
    padding: 1.5rem 0
    h2
        span
            color: $colorPrimario
    h4
        color: $colorGris

    p
        color: $colorGris
    ul
        list-style: none
        li
            min-height: 10rem
            .fa
                color: $colorBlanco
                background: $colorSecundario
                font-size: 2.5rem
                border-radius: 50%
                width: 4.7rem
                height: 4.7rem
                line-height: 4.7rem
            h4
                font-size: 1rem
                margin-top: 0.8rem

/*-------------------*/
/*Section SABER*/
/*-------------------*/
.saber
    background: url("../images/fondosaber.jpg") no-repeat center center
    background-size: cover
    padding: 1.5rem 0
    color: $colorBlanco
    article
        display: flex
        align-items: center
        margin: 1rem 0
        img
            flex: 0 0 60px
            overflow: hidden
            margin-right: 1rem
        h3
            flex: 1 1 0px
            margin: 0
            font-size: 1.25rem
            font-weight: normal
            a
                color: $colorBlanco
                text-decoration: none
                display: flex
                justify-content: space-between
                &::after
                    content: "\f054"
                    font-family: FontAwesome
                    font-size: 1.7rem
                    align-items: center
                    margin-left: 1rem
                    position: relative
                    left: 0
                &:hover
                    text-decoration: none
                    &::after
                        color: $colorPrimario
                        left: -.5rem
                        transition: all .5s ease

/*-------------------*/
/*Section SABER*/
/*-------------------*/
.galeria
    padding: 1rem 0
    p
        color: $colorGris
    .container
        padding-left: 0
        padding-right: 0
        img
            width: 100%
    .owl-nav
        display: flex
        justify-content: center
        margin: 1rem 0
        .owl-prev, .owl-next
            color: #f76a5f
            font-size: 3rem
            margin: 0 1rem
            transition: all 0.5s ease
            &:hover
                color: $colorPrimario

/*-------------------*/
/*FOOTER*/
/*-------------------*/
footer
    background: #3b3b3b
    color: $colorBlanco
    text-align: center
    p
        margin-bottom: 0
    .redes
        padding: 0.7rem
        p
            background: #4E4C4C
            text-align: center

            a
                font-size: 1.5rem
                color: $colorBlanco
                text-decoration: none
                margin-left: 1.5rem
                transition: all .5s ease
            .fb:hover
                color: #3B5998
            .tw:hover
                color: #1DA1F2
            .ig:hover
                color: #AD2C90

/*-------------------*/
/*FLECHA SUBIR*/
/*-------------------*/
.irArriba
    position: fixed
    bottom: 1rem
    right: 1rem
    font-size: 3rem
    color: $colorGris
    text-decoration: none
    z-index: 999
    line-height: 0
    transition: all .5s ease
    &:hover,&:focus
        text-decoration: none
        color: $colorNegro


//=================================
//--------PARA 768 MD
//=================================

@media (min-width:768px)
    .saber
        article
            flex-direction: column
            align-items: center
            text-align: center
            &:hover
                img
                    transition: all 1s ease-out
                    transform: rotateY(360deg)
                    transform-style: preserve-3D
            img
                flex: 0 0 140px
                margin-bottom: 1.3rem
            h3
                a
                    margin-bottom: 1.5rem
                    &::after
                        display: none
//=================================
//--------PARA 992 LG
//=================================
@media (min-width:992px)
    .logo
        img
            width: 190px !important
    #menu-principal
        height: auto !important
        display: block
        flex: 0 1 auto !important
        ul
            display: flex
            margin: 0
            li
                padding: 0.8rem !important
                transition: all .5s ease
                
                a
                    margin: 0 .3rem
                    border-top: 0px !important
                    padding: 0.8rem 0.8rem !important
                    transition: all .5s ease
                    &:hover
                        border-bottom: 3px solid $colorPrimario
            .active
                border-bottom: 3px solid $colorPrimario
    .porque
        ul
            flex: 1 0 0px
            li
                display: flex
                &:hover
                    .fa
                        transform: rotateY(360deg)
                        transform-style: preserve-3D
                        background: $colorPrimario
                .fa
                    text-align: center
                    width: 4.7rem !important
                    height: 4.7rem !important
                    line-height: 4.7rem !important
                    margin: 1rem
                    transition: all 1s ease

        .izquierda
            li
                h4
                    order: -1
        .row
            div
                display: flex
                align-items: center
